<div id="section_webtoon" class="d-none">
  <%-
  include('component/_', {
    type: 'box',
    data: {
      noPadding: true,
      components: [
        {
          type: 'nav',
          data: {
            navTitle: 'nav_webtoon',
            navType: 3,
            navList: [
              { text: '홈', target: '#section_webtoon_home', selected: true },
              { text: '요일연재', target: '#section_webtoon_daily', selected: false },
              { text: '웹툰', target: '#section_webtoon_webtoon', selected: false },
              { text: '소년', target: '#section_webtoon_boy', selected: false },
              { text: '드라마', target: '#section_webtoon_drama', selected: false },
              { text: '로맨스', target: '#section_webtoon_romance', selected: false },
              { text: '로판', target: '#section_webtoon_rofan', selected: false },
              { text: '액션무협', target: '#section_webtoon_action', selected: false },
              { text: 'BL/GL', target: '#section_webtoon_blgl', selected: false },
            ]
          }
        }
      ]
    }
  })
  %>

  <!-- Home -->
  <div id="section_webtoon_home">
    <%-
    include('component/_', {
      components: [
        {
          type: 'box',
          data: {
            noPadding: true,
            components: [
              {
                type: 'carousel',
                data: {
                  id: 'carousel_webtoon_home_main'
                }
              }
            ]
          }
        },
        {
          type: 'box',
          data: {
            components: [
              {
                type: 'quicklink',
                data: {
                  links: [
                    { text: '오늘 UP', count: 179 },
                    { text: '오늘 신작', count: 2 },
                    { text: '오리지널', count: 1250 },
                  ]
                }
              }
            ]
          }
        },
        {
          type: 'box',
          data: {
            components: []
          }
        },
        {
          type: 'box',
          data: {
            title: '요일연재 TOP',
            titleCount: 1084,
            components: [
              {
                type: 'nav',
                data: {
                  navTitle: 'nav_webtoon_home_daily_top',
                  navType: 2,
                  navList: [
                    { text: '월', target: '#cardbox_webtoon_home_daily_top .webtoon_daily_mon', selected: true },
                    { text: '화', target: '#cardbox_webtoon_home_daily_top .webtoon_daily_tue', selected: false },
                    { text: '수', target: '#cardbox_webtoon_home_daily_top .webtoon_daily_wed', selected: false },
                    { text: '목', target: '#cardbox_webtoon_home_daily_top .webtoon_daily_thu', selected: false },
                    { text: '금', target: '#cardbox_webtoon_home_daily_top .webtoon_daily_fri', selected: false },
                    { text: '토', target: '#cardbox_webtoon_home_daily_top .webtoon_daily_sat', selected: false },
                    { text: '일', target: '#cardbox_webtoon_home_daily_top .webtoon_daily_sun', selected: false },
                    { text: '완결', target: '#cardbox_webtoon_home_daily_top .webtoon_daily_end', selected: false },
                  ]
                }
              },
              {
                type: 'cardbox',
                data: {
                  id: 'cardbox_webtoon_home_daily_top',
                  cards: [
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP', days: ['mon'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP', days: ['mon'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP', days: ['mon'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP', days: ['mon'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP', days: ['mon'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '1위', days: ['mon'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '2위', days: ['mon'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '3위', days: ['mon'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '4위', days: ['mon'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '5위', days: ['mon'] },
                    { cardType: 1, img: 'card1_2.png', title: '롱리브더킹', view: '236.7', top: '1위', days: ['tue'] },
                    { cardType: 1, img: 'card1_2.png', title: '롱리브더킹', view: '236.7', top: '2위', days: ['tue'] },
                    { cardType: 1, img: 'card1_2.png', title: '롱리브더킹', view: '236.7', top: '3위', days: ['tue'] },
                    { cardType: 1, img: 'card1_2.png', title: '롱리브더킹', view: '236.7', top: '4위', days: ['tue'] },
                    { cardType: 1, img: 'card1_2.png', title: '롱리브더킹', view: '236.7', top: '5위', days: ['tue'] },
                    { cardType: 1, img: 'card1_2.png', title: '롱리브더킹', view: '236.7', rating: '9.9', days: ['tue'] },
                    { cardType: 1, img: 'card1_2.png', title: '롱리브더킹', view: '236.7', rating: '10.0', days: ['tue'] },
                    { cardType: 1, img: 'card1_2.png', title: '롱리브더킹', view: '236.7', rating: '9.4', days: ['tue'] },
                    { cardType: 1, img: 'card1_2.png', title: '롱리브더킹', view: '236.7', rating: '9.7', days: ['tue'] },
                    { cardType: 1, img: 'card1_2.png', title: '롱리브더킹', view: '236.7', rating: '8.5', days: ['tue'] },
                    { cardType: 1, img: 'card1_3.png', title: '도깨비 아빠', view: '13.3', top: 'TOP', days: ['wed'] },
                    { cardType: 1, img: 'card1_3.png', title: '도깨비 아빠', view: '13.3', top: 'TOP', days: ['wed'] },
                    { cardType: 1, img: 'card1_3.png', title: '도깨비 아빠', view: '13.3', top: 'TOP', days: ['wed'] },
                    { cardType: 1, img: 'card1_3.png', title: '도깨비 아빠', view: '13.3', top: 'TOP', days: ['wed'] },
                    { cardType: 1, img: 'card1_3.png', title: '도깨비 아빠', view: '13.3', top: 'TOP', days: ['wed'] },
                    { cardType: 1, img: 'card1_3.png', title: '도깨비 아빠', view: '13.3', top: '1위', days: ['wed'] },
                    { cardType: 1, img: 'card1_3.png', title: '도깨비 아빠', view: '13.3', top: '2위', days: ['wed'] },
                    { cardType: 1, img: 'card1_3.png', title: '도깨비 아빠', view: '13.3', top: '3위', days: ['wed'] },
                    { cardType: 1, img: 'card1_3.png', title: '도깨비 아빠', view: '13.3', top: '4위', days: ['wed'] },
                    { cardType: 1, img: 'card1_3.png', title: '도깨비 아빠', view: '13.3', top: '5위', days: ['wed'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP', days: ['thu'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP', days: ['thu'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP', days: ['thu'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP', days: ['thu'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP', days: ['thu'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '1위', days: ['thu'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '2위', days: ['thu'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '3위', days: ['thu'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '4위', days: ['thu'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '5위', days: ['thu'] },
                    { cardType: 1, img: 'card1_2.png', title: '롱리브더킹', view: '236.7', top: 'TOP', days: ['fri'] },
                    { cardType: 1, img: 'card1_2.png', title: '롱리브더킹', view: '236.7', top: 'TOP', days: ['fri'] },
                    { cardType: 1, img: 'card1_2.png', title: '롱리브더킹', view: '236.7', top: 'TOP', days: ['fri'] },
                    { cardType: 1, img: 'card1_2.png', title: '롱리브더킹', view: '236.7', top: 'TOP', days: ['fri'] },
                    { cardType: 1, img: 'card1_2.png', title: '롱리브더킹', view: '236.7', top: 'TOP', days: ['fri'] },
                    { cardType: 1, img: 'card1_2.png', title: '롱리브더킹', view: '236.7', top: '1위', days: ['fri'] },
                    { cardType: 1, img: 'card1_2.png', title: '롱리브더킹', view: '236.7', top: '2위', days: ['fri'] },
                    { cardType: 1, img: 'card1_2.png', title: '롱리브더킹', view: '236.7', top: '3위', days: ['fri'] },
                    { cardType: 1, img: 'card1_2.png', title: '롱리브더킹', view: '236.7', top: '4위', days: ['fri'] },
                    { cardType: 1, img: 'card1_2.png', title: '롱리브더킹', view: '236.7', top: '5위', days: ['fri'] },
                    { cardType: 1, img: 'card1_3.png', title: '도깨비 아빠', view: '13.3', top: 'TOP', days: ['sat'] },
                    { cardType: 1, img: 'card1_3.png', title: '도깨비 아빠', view: '13.3', top: 'TOP', days: ['sat'] },
                    { cardType: 1, img: 'card1_3.png', title: '도깨비 아빠', view: '13.3', top: 'TOP', days: ['sat'] },
                    { cardType: 1, img: 'card1_3.png', title: '도깨비 아빠', view: '13.3', top: 'TOP', days: ['sat'] },
                    { cardType: 1, img: 'card1_3.png', title: '도깨비 아빠', view: '13.3', top: 'TOP', days: ['sat'] },
                    { cardType: 1, img: 'card1_3.png', title: '도깨비 아빠', view: '13.3', top: '1위', days: ['sat'] },
                    { cardType: 1, img: 'card1_3.png', title: '도깨비 아빠', view: '13.3', top: '2위', days: ['sat'] },
                    { cardType: 1, img: 'card1_3.png', title: '도깨비 아빠', view: '13.3', top: '3위', days: ['sat'] },
                    { cardType: 1, img: 'card1_3.png', title: '도깨비 아빠', view: '13.3', top: '4위', days: ['sat'] },
                    { cardType: 1, img: 'card1_3.png', title: '도깨비 아빠', view: '13.3', top: '5위', days: ['sat'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP', days: ['sun'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP', days: ['sun'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP', days: ['sun'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP', days: ['sun'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP', days: ['sun'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '1위', days: ['sun'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '2위', days: ['sun'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '3위', days: ['sun'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '4위', days: ['sun'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '5위', days: ['sun'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '1위', days: ['end'] },
                    { cardType: 1, img: 'card1_2.png', title: '롱리브더킹', view: '236.7', top: '2위', days: ['end'] },
                    { cardType: 1, img: 'card1_3.png', title: '도깨비 아빠', view: '13.3', top: '3위', days: ['end'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '4위', days: ['end'] },
                    { cardType: 1, img: 'card1_2.png', title: '롱리브더킹', view: '236.7', top: '5위', days: ['end'] },
                    { cardType: 1, img: 'card1_3.png', title: '도깨비 아빠', view: '13.3', rating: '9.9', days: ['end'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', rating: '9.8', days: ['end'] },
                    { cardType: 1, img: 'card1_2.png', title: '롱리브더킹', view: '236.7', rating: '10.0', days: ['end'] },
                    { cardType: 1, img: 'card1_3.png', title: '도깨비 아빠', view: '13.3', rating: '9.8', days: ['end'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', rating: '9.6', days: ['end'] },
                  ]
                }
              },
            ]
          }
        },
        {
          type: 'box',
          data: {
            title: '기대신작 TOP',
            components: [
              {
                type: 'cardbox',
                data: {
                  cards: [
                    { cardType: 5, img: 'card5.png', title: '건마왕증', subtitle: '마왕님 왜 그렇게 뿔에 집착하나요?', view: '4.8', top: '이벤트' },
                    { cardType: 5, img: 'card5.png', title: '건마왕증', subtitle: '마왕님 왜 그렇게 뿔에 집착하나요?', view: '4.8', top: '이벤트' },
                  ]
                }
              }
            ]
          }
        },
        {
          type: 'box',
          data: {
            title: '로맨스 TOP',
            components: [
              {
                type: 'cardbox',
                data: {
                  cards: [
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                  ]
                }
              }
            ]
          }
        },
        {
          type: 'box',
          data: {
            title: '로판 TOP',
            components: [
              {
                type: 'cardbox',
                data: {
                  cards: [
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                  ]
                }
              }
            ]
          }
        },
        {
          type: 'box',
          data: {
            title: '드라마 TOP',
            components: [
              {
                type: 'cardbox',
                data: {
                  cards: [
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                  ]
                }
              }
            ]
          }
        },
        {
          type: 'box',
          data: {
            title: 'BL/GL TOP',
            components: [
              {
                type: 'cardbox',
                data: {
                  cards: [
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                  ]
                }
              }
            ]
          }
        },
        {
          type: 'box',
          data: {
            title: '소년 TOP',
            components: [
              {
                type: 'cardbox',
                data: {
                  cards: [
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                  ]
                }
              }
            ]
          }
        },
        {
          type: 'box',
          data: {
            title: '액션무협 TOP',
            components: [
              {
                type: 'cardbox',
                data: {
                  cards: [
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                  ]
                }
              }
            ]
          }
        },
        {
          type: 'box',
          data: {
            title: '일간 랭킹 TOP',
            components: [
              {
                type: 'cardbox',
                data: {
                  cards: [
                    { cardType: 3, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 3, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                    { cardType: 3, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP' },
                  ]
                }
              }
            ]
          }
        },
        {
          type: 'box',
          data: {
            title: '추천 이벤트',
            components: [
              {
                type: 'carousel',
                data: {
                  id: 'carousel_webtoon_home_recommend'
                }
              }
            ]
          }
        },
      ]
    })
    %>
  </div>

  <!-- Daily -->
  <div id="section_webtoon_daily">
    <%-
    include('component/_', {
      components: [
        {
          type: 'box',
          data: {
            noPadding: true,
            components: [
              {
                type: 'carousel',
                data: {
                  id: 'carousel_webtoon_daily_main'
                }
              }
            ]
          }
        },
        {
          type: 'box',
          data: {
            noPadding: true,
            components: [
              {
                type: 'nav',
                data: {
                  navTitle: 'nav_webtoon_daily_day',
                  navType: 4,
                  navList: [
                    { text: '월', target: '#cardbox_webtoon_daily_main .webtoon_daily_mon', selected: true },
                    { text: '화', target: '#cardbox_webtoon_daily_main .webtoon_daily_tue', selected: false },
                    { text: '수', target: '#cardbox_webtoon_daily_main .webtoon_daily_wed', selected: false },
                    { text: '목', target: '#cardbox_webtoon_daily_main .webtoon_daily_thu', selected: false },
                    { text: '금', target: '#cardbox_webtoon_daily_main .webtoon_daily_fri', selected: false },
                    { text: '토', target: '#cardbox_webtoon_daily_main .webtoon_daily_sat', selected: false },
                    { text: '일', target: '#cardbox_webtoon_daily_main .webtoon_daily_sun', selected: false },
                    { text: '완결', target: '#cardbox_webtoon_daily_main .webtoon_daily_end', selected: false },
                  ]
                }
              }
            ]
          }
        },
        {
          type: 'box',
          data: {
            noPadding: true,
            noMargin: true,
            components: [
              {
                type: 'nav',
                data: {
                  navTitle: 'nav_webtoon_daily_type',
                  navType: 3,
                  navList: [
                    { text: '전체', target: '#cardbox_webtoon_daily_main .card', selected: true },
                    { text: '웹툰', target: '#cardbox_webtoon_daily_main .card[data-webtoon-type="webtoon"]', selected: false },
                    { text: '(시계)웹툰', target: '#cardbox_webtoon_daily_main .card[data-webtoon-type="time"]', selected: false },
                  ]
                }
              }
            ]
          }
        },
        {
          type: 'box',
          data: {
            noMargin: true,
            components: [
              {
                type: 'cardbox',
                data: {
                  id: 'cardbox_webtoon_daily_main',
                  cards: [
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP', days: ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun', 'end'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP', days: ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun', 'end'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP', days: ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun', 'end'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP', days: ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun', 'end'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: 'TOP', days: ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun', 'end'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '1위', days: ['mon', 'thu', 'end'] },
                    { cardType: 1, img: 'card1_2.png', title: '롱리브더킹', view: '236.7', top: '1위', days: ['tue', 'sat'] },
                    { cardType: 1, img: 'card1_3.png', title: '도깨비 아빠', view: '13.3', top: '1위', days: ['wed', 'fri', 'sun'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '2위', days: ['mon', 'sat', 'end'] },
                    { cardType: 1, img: 'card1_2.png', title: '롱리브더킹', view: '236.7', top: '2위', days: ['tue', 'sun'] },
                    { cardType: 1, img: 'card1_3.png', title: '도깨비 아빠', view: '13.3', top: '2위', days: ['wed', 'thu', 'fri'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '3위', days: ['mon', 'wed', 'fri'] },
                    { cardType: 1, img: 'card1_2.png', title: '롱리브더킹', view: '236.7', top: '3위', days: ['tue', 'thu'] },
                    { cardType: 1, img: 'card1_3.png', title: '도깨비 아빠', view: '13.3', top: '3위', days: ['sat', 'sun', 'end'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '4위', days: ['mon', 'tue', 'fri'] },
                    { cardType: 1, img: 'card1_2.png', title: '롱리브더킹', view: '236.7', top: '4위', days: ['wed', 'sun', 'end'] },
                    { cardType: 1, img: 'card1_3.png', title: '도깨비 아빠', view: '13.3', top: '4위', days: ['thu', 'sat'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', top: '5위', days: ['mon', 'wed', 'end'] },
                    { cardType: 1, img: 'card1_2.png', title: '롱리브더킹', view: '236.7', top: '5위', days: ['tue', 'thu', 'sun'] },
                    { cardType: 1, img: 'card1_3.png', title: '도깨비 아빠', view: '13.3', top: '5위', days: ['fri', 'sat'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', rating: '10.0', days: ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun', 'end'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', rating: '9.9', days: ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun', 'end'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', rating: '9.8', days: ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun', 'end'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', rating: '9.7', days: ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun', 'end'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', rating: '9.6', days: ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun', 'end'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', rating: '9.5', days: ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun', 'end'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', rating: '9.4', days: ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun', 'end'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', rating: '9.3', days: ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun', 'end'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', rating: '9.2', days: ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun', 'end'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', rating: '9.1', days: ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun', 'end'] },
                    { cardType: 1, img: 'card1_1.png', title: '지구의 주인은 고양이다', view: '38.4', rating: '9.0', days: ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun', 'end'] },
                  ]
                }
              }
            ]
          }
        },
      ]
    })
    %>
  </div>

  <!-- Webtoon -->
  <div id="section_webtoon_webtoon">
    <%-
    include('component/_', {
      components: [
        {
          type: 'box',
          data: {
            noPadding: true,
            components: [
              {
                type: 'carousel',
                data: {
                  id: 'carousel_webtoon_webtoon_main'
                }
              }
            ]
          }
        },
        {
          type: 'box',
          data: {
            noPadding: true,
            components: [
              {
                type: 'nav',
                data: {
                  navTitle: 'nav_webtoon_webtoon_day',
                  navType: 4,
                  navList: [
                    { text: '월', target: '#cardbox_webtoon_webtoon_main .webtoon_daily_mon', selected: true },
                    { text: '화', target: '#cardbox_webtoon_webtoon_main .webtoon_daily_tue', selected: false },
                    { text: '수', target: '#cardbox_webtoon_webtoon_main .webtoon_daily_wed', selected: false },
                    { text: '목', target: '#cardbox_webtoon_webtoon_main .webtoon_daily_thu', selected: false },
                    { text: '금', target: '#cardbox_webtoon_webtoon_main .webtoon_daily_fri', selected: false },
                    { text: '토', target: '#cardbox_webtoon_webtoon_main .webtoon_daily_sat', selected: false },
                    { text: '일', target: '#cardbox_webtoon_webtoon_main .webtoon_daily_sun', selected: false },
                    { text: '전체', target: '#cardbox_webtoon_webtoon_main .card', selected: false },
                  ]
                }
              }
            ]
          }
        },
        {
          type: 'box',
          data: {
            noMargin: true,
            components: [
              {
                type: 'cardbox',
                data: {
                  id: 'cardbox_webtoon_webtoon_main',
                  cards: [
                    { cardType: 2, img: 'card2_1.png', title: '지구의 주인은 고양이다', subtitle: '길냥이들의 지구 정복기!!', view: '38.4', days: ['mon', 'wed', 'fri', 'sun'] },
                    { cardType: 2, img: 'card2_2.png', title: '넘 많은 고양!', subtitle: '있잖아, 난 고양이 7마리 있따아~', view: '8.6', days: ['tue', 'thu', 'sat'] },
                    { cardType: 2, img: 'card2_3.png', title: '웽툰', subtitle: '바보짓은 웽 때문이야!', view: '10', days: ['mon', 'tue', 'wed', 'sun'] },
                    { cardType: 2, img: 'card2_1.png', title: '지구의 주인은 고양이다', subtitle: '길냥이들의 지구 정복기!!', view: '38.4', days: ['tue', 'thu', 'sat'] },
                    { cardType: 2, img: 'card2_2.png', title: '넘 많은 고양!', subtitle: '있잖아, 난 고양이 7마리 있따아~', view: '8.6', days: ['mon', 'tue', 'wed', 'fri', 'sun'] },
                    { cardType: 2, img: 'card2_3.png', title: '웽툰', subtitle: '바보짓은 웽 때문이야!', view: '10', days: ['wed', 'thu', 'fri', 'sat'] },
                    { cardType: 2, img: 'card2_1.png', title: '지구의 주인은 고양이다', subtitle: '길냥이들의 지구 정복기!!', view: '38.4', days: ['mon', 'fri', 'sun'] },
                    { cardType: 2, img: 'card2_2.png', title: '넘 많은 고양!', subtitle: '있잖아, 난 고양이 7마리 있따아~', view: '8.6', days: ['thu', 'sat'] },
                  ]
                }
              }
            ]
          }
        },
        {
          type: 'box',
          data: {
            title: '이달의 HOT한 신작!',
            components: [
              {
                type: 'cardbox',
                data: {
                  cards: [
                    { cardType: 2, img: 'card2_1.png', title: '지구의 주인은 고양이다', subtitle: '길냥이들의 지구 정복기!!', view: '38.4' },
                    { cardType: 2, img: 'card2_2.png', title: '넘 많은 고양!', subtitle: '있잖아, 난 고양이 7마리 있따아~', view: '8.6' },
                    { cardType: 2, img: 'card2_3.png', title: '웽툰', subtitle: '바보짓은 웽 때문이야!', view: '10' },
                  ]
                }
              }
            ]
          }
        }
      ]
    })
    %>
  </div>

  <!-- Boy -->
  <div id="section_webtoon_boy">
    <%-
    include('component/_', {
      components: [
        {
          type: 'box',
          data: {
            noPadding: true,
            components: [
              {
                type: 'carousel',
                data: {
                  id: 'carousel_webtoon_boy_main'
                }
              }
            ]
          }
        },
      ]
    })
    %>
  </div>

  <!-- Drama -->
  <div id="section_webtoon_drama">
    <%-
    include('component/_', {
      components: [
        {
          type: 'box',
          data: {
            noPadding: true,
            components: [
              {
                type: 'carousel',
                data: {
                  id: 'carousel_webtoon_drama_main'
                }
              }
            ]
          }
        },
      ]
    })
    %>
  </div>

  <!-- Romance -->
  <div id="section_webtoon_romance">
    <%-
    include('component/_', {
      components: [
        {
          type: 'box',
          data: {
            noPadding: true,
            components: [
              {
                type: 'carousel',
                data: {
                  id: 'carousel_webtoon_romance_main'
                }
              }
            ]
          }
        },
      ]
    })
    %>
  </div>

  <!-- Rofan -->
  <div id="section_webtoon_rofan">
    <%-
    include('component/_', {
      components: [
        {
          type: 'box',
          data: {
            noPadding: true,
            components: [
              {
                type: 'carousel',
                data: {
                  id: 'carousel_webtoon_rofan_main'
                }
              }
            ]
          }
        },
      ]
    })
    %>
  </div>

  <!-- Action -->
  <div id="section_webtoon_action">
    <%-
    include('component/_', {
      components: [
        {
          type: 'box',
          data: {
            noPadding: true,
            components: [
              {
                type: 'carousel',
                data: {
                  id: 'carousel_webtoon_action_main'
                }
              }
            ]
          }
        },
      ]
    })
    %>
  </div>

  <!-- BL / GL -->
  <div id="section_webtoon_blgl">
    <%-
    include('component/_', {
      components: [
        {
          type: 'box',
          data: {
            noPadding: true,
            components: [
              {
                type: 'carousel',
                data: {
                  id: 'carousel_webtoon_blgl_main'
                }
              }
            ]
          }
        },
      ]
    })
    %>
  </div>
</div>