<!--
{
  navTitle: string
  navType: integer
    1: bottom border highlight
    2: bottom border highlight and black/gray text
    3: no highlight only black/gray text
    4: circle highlight and black/gray text
  navList: [
    {
      text: string
      target: string
      selected: bool
    }
  ]
}
-->
<nav class="nav" data-nav-type="<%= navType %>">
  <ul class="nav-list">
    <% for (const { text, target, selected } of navList) { %>
    <li role="button" class="nav-item"
      data-nav="<%= navTitle %>" data-target="<%= target %>" data-selected="<%= selected %>">
      <div class="d-flex">
        <%= text %>
      </div>
    </li>
    <% } %>
  </ul>
</nav>